h1{
    font-size: 20em;
    text-align: center;
    font-family: 'Raleway', sans-serif;}

h2 {
    font-size:10em;
    text-align: center;
    font-family: 'Germania One', cursive;
margin-top: -1.8em;
padding-bottom: 3em;}

div {
   
    font-family: 'Raleway', sans-serif; 
}

.container {
    display: flex;
    justify-content: space-around;
    height: 1px;
    flex-flow: row wrap;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

body { 
    background-color:floralwhite;}
img {
display: block; 
  margin-left: auto;
  margin-right: auto;
    margin-bottom: -5em;
  width: 20%;      
}


